<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
  <h1>Board Detail</h1>
<form action="/board/modify" method="post" id="modForm">
<div class="mb-3">
  <label for="bno" class="form-label">No.</label>
  <input type="hidden" name="bno" th:value="${bdto.bno }">
  <input type="text" class="form-control" id="bno" name="bno" th:value="${bdto.bno }" readonly>
</div>
<div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input type="text" class="form-control" id="title" name="title" th:value="${bdto.title }" readonly>
</div>
<div class="mb-3">
  <label for="writer" class="form-label">Writer</label>
  <input type="text" class="form-control" id="writer" name="writer" th:value="${bdto.writer }" readonly>
  <span class="badge text-bg-info">[[${#strings.substring(bdto.regAt,0,10) }]]</span>
</div>
<div class="mb-3">
  <label for="content" class="form-label">Content</label>
  <textarea class="form-control" id="content" name="content" rows="3" readonly>[[${bdto.content}]]</textarea>
</div>
  <button type="button" class="btn btn-primary" id="listBtn">listBtn</button>
  <button type="button" class="btn btn-secondary" id="modBtn">modBtn</button>
  <button type="button" class="btn btn-danger" id="delBtn">Remove</button>
</form>
  <form action="/board/delete" method="get" id="delForm">
    <input type="hidden" name="bno" th:value="${bdto.bno}">
  </form>
  <script th:src="@{/js/boardDetail.js}"></script>
</div>
