<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<link th:href="@{/css/regist.css}" rel="stylesheet"/>
<div layout:fragment="content" class="container-md">
  <h1>board Register page</h1>
  <hr>
  <form action="/board/register" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="t" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" id="t" placeholder="title..">
    </div>
    <div class="mb-3">
      <label for="w" class="form-label">Writer</label>
      <input type="text" name="writer" class="form-control" id="w" placeholder="Writer.."
        th:value="${#authentication.getPrincipal().userDTO.nickName}" readonly>
    </div>
    <div class="mb-3">
      <label for="c" class="form-label">Contents</label>
      <textarea class="form-control" name="content" id="c" rows="3" placeholder="Contents.."></textarea>
    </div>
        <!--  /* file insert */  -->
    <section id="ex9">
      <style>
        #ex9 .upload-box{
            width: 695px;
            height: 300px;
            border: 2px dashed gray;
            border-radius: 20px;
            padding:10px;

            /* button center */
            display: flex;
            justify-content: center;
            align-items: center;
        }
      </style>
      <div class="upload-box">
        <button type="button" class="btn btn-info" id="trigger">file select</button>
        <input type="file" class="form-control" name="files" id="file" multiple style="display:none;" onchange="readURL(this);">
      </div>
        <img id="preview" />
    </section>

<!--  원본  -->
<!--    <div class="mb-3">  -->
<!--      <label for="file" class="form-label">File</label>-->
<!--      <input type="file" class="form-control" name="files" id="file" multiple style="display:none;"></input>-->
<!--      <button type="button" class="btn btn-info" id="trigger">file upload</button>-->
<!--    </div>-->
        <!--    /* file output */   -->
    <div class="input-group mb-3" id="fileZone"></div>
    <button type="submit" class="btn btn-primary" id="regBtn">register</button>
  </form>
  <script th:src="@{/js/boardRegister.js}"></script>
</div>
